.flex-titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 9rem;
  margin-top: 5rem;
  word-spacing: 20rem;
  margin-bottom: 2rem;
  text-align: end;
  margin-left: 40rem;
  grid-area: titulo; }

.rowabout {
  margin-top: 17rem; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 9rem; }

.flex-work {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 4rem;
  grid-area: work; }

.hijorebelde {
  font-size: 3rem;
  text-align: center; }

.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem;
  margin-top: 3rem;
  transition: all 1s; }

.row2:hover {
  filter: grayscale(100%); }

.ux {
  grid-area: proyecto3; }

.grid-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 40% 40% 20%;
  grid-template-areas: "navegador" "titulo" "work" "footer"; }

.grid-contact {
  grid-template-rows: 5% 70% 5%; }

.flex-black {
  font-size: 3rem;
  word-spacing: 2rem; }

.rebeldeemail {
  font-size: 5rem; }

.flex-footerblack {
  line-height: 4rem; }

@media screen and (min-width: 390px) {
  .h1 {
    font-size: 5rem;
    word-spacing: 1rem;
    line-height: 1rem; } }

html {
  font-size: 62,5%; }

body {
  background-color: #F8F8F5;
  font-family: "Public Sans"; }

.contact {
  background-color: #F8F8F5; }

.star {
  margin-right: 5rem; }

.experiencia {
  font-size: 9rem;
  text-align: end;
  font-weight: 500; }

.experienciarebelde {
  font-size: 5rem; }

img {
  margin-left: 3rem;
  margin-top: 5rem; }

p {
  font-size: 2rem;
  margin-left: 3rem;
  line-height: 1.5rem; }

.project {
  font-style: normal;
  font-size: 6rem;
  color: #2345ef;
  text-decoration: none;
  margin-top: 20rem; }
  .project display:list-item :hover {
    font-style: italic; }

.imagen {
  margin-left: 47rem;
  display: inline;
  margin-top: 0rem; }

.about {
  font-size: 13rem;
  word-spacing: 20rem;
  margin-top: 6rem;
  margin-left: 3rem; }

.about2 {
  font-size: 10rem;
  margin-top: 6rem;
  text-align: center; }

.design {
  margin-top: 10rem; }

.derecha {
  float: right; }

.tituloindex {
  font-size: 4rem;
  margin-top: 3rem;
  color: #000000; }

.tituloindex2 {
  font-size: 3rem;
  margin-top: 2rem;
  color: #2345ef; }

.titulorebelde {
  font-size: 5rem;
  margin-top: 5rem;
  color: #2345ef; }

.nav-link {
  font-size: 1rem;
  margin-top: 2rem;
  margin-left: 3rem;
  color: #000000; }
  .nav-link:hover {
    text-decoration: underline; }

.footer {
  padding-top: 5rem; }

.footerrebelde {
  color: #F8F8F5;
  margin-top: 25rem; }

.enlaces {
  word-spacing: 4rem;
  padding-top: 1rem;
  color: #F8F8F5;
  text-decoration: none; }

.h2, .h3 {
  font-size: 1rem;
  padding-top: 2rem; }

.h3 {
  color: #F8F8F5; }

.email {
  font-size: 6rem;
  color: #000000;
  margin-top: 5rem;
  text-decoration: none; }
  .email:hover {
    text-decoration: underline; }

.titulocontacto {
  font-size: 2rem;
  color: #000000;
  margin-top: 18rem; }

.linea {
  color: #2345ef; }
