$colorprincipal: #F8F8F5;
$colorsecundario: #2345ef; 
$colorterciario: #000000;
$colorrosa: #EFACE2;
$colorespecial: #2345ef;

$estilos: ( 
    color: #000000,
    alineacion: center,
    fuente: 4rem
);

$palette: (
 'colorprincipal': #F8F8F5,
 'colorsecundario': #000000,
 'colorterciario': #727272,
 'colorrosa':  #EFACE2,
 'colorespecial': #2345ef
 
);

@mixin sizes ($fontsize){
    font-size: $fontsize;
}
