@import "variables";
@import "layout";
@import "queries";


html {
    font-size: 62, 5%;
}

body {
    background-color: map-get($palette, colorprincipal);
    font-family: "Public Sans";
}

.container-fluid {
    padding: 5px 30px;
}

.experiencia {
    @include sizes (9rem);
    text-align: end;
    font-weight: 500;
}

.h1_sections {
    @include sizes (4rem);
    text-align: center;
    font-weight: 500;
    text-align: right;
    margin-top: 4rem;
}

.experienciarebelde {
    @include sizes (5rem)
}

.star {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: $colorprincipal;
    background-color: $colorsecundario;
    //color de fondo para que parezca botón
    padding: 0.6rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 300;


    //hover
    &:hover {
        background-color: lighten($colorsecundario, 20%);
        color: $colorprincipal;
    }
}


p {
    @include sizes (2rem);
    line-height: 2.7rem;
}

.project {
    font-style: normal;
    @include sizes (6rem);
    color: map-get($palette, colorsecundario);
    text-decoration: none;
    margin-top: 20rem;

    display:list-item :hover {
        font-style: italic;
    }
}

.imagen {
    margin-left: 47rem;
    display: inline;
    margin-top: 0rem;
}

.about {
    @include sizes (13rem);
    word-spacing: 20rem;
    margin-top: 6rem;
    margin-left: 3rem;
}

.about2 {
    @include sizes (10rem);
    margin-top: 6rem;
    text-align: center;
}

.design {
    margin-top: 10rem;
}

.derecha {
    float: right;
}

.tituloindex {
    @include sizes (4rem);
    margin-top: 3rem;
}

.tituloindex2 {
    @include sizes (3rem);
    margin-top: 2rem;
    margin-top: 2rem
}

.titulorebelde {
    @include sizes (5rem);
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.nav-link {

    @include sizes (1rem);
    margin-top: 2rem;
    margin-left: 3rem;
    color: map-get($palette, colorterciario);
    &:hover {
        text-decoration: underline;
    }
}

footer {
    padding-top: 2rem;
    bottom: 0px;
    margin-bottom: 3rem;

    p {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 0;
        margin-bottom: 20px;
    }
}

.footerrebelde {
    color: map-get($palette, colorprincipal);
    margin-top: 25rem;
}

.enlaces {

    word-spacing: 4rem;
    padding-top: 1rem;
    color: map-get($palette, colorprincipal);
    text-decoration: none;
}

.h2 {

    @include sizes (1rem);
    padding-top: 2rem;
}

.h3 {

    @extend .h2;
    color: map-get($palette, colorprincipal);
}


.email {
    @include sizes (3rem);
    color: map-get($palette, colorsecundario);
    margin-top: 5rem;
    margin-bottom: 10rem;

    &:hover {
        text-decoration: underline;
    }
}

.titulocontacto {
    @include sizes (2rem);
    color: map-get($palette, colorsecundario);
    margin-top: 18rem;
}


//Animación
.text {
    font-size: 22px;
    //color primario
    color: map-get($palette, colorespecial);
    text-align: center;
}

.parpadea {

    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}


    